/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html {
    min-width: 320px;
}
/*profile picture*/
.profile-picture {
    background-image: url(/images/profile-img-thumb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    margin: auto;
}

    .profile-picture:hover {
        box-shadow: #3e4396 0px 0px 20px 15px;
        animation: profile-shadow 3s infinite;
    }

    @keyframes profile-shadow{
        0% {
            box-shadow: #2d2f4e 0px 0px 20px 15px;
        }
        25% {
            box-shadow: #2d2f4e 0px 0px 10px 7px;
        }
        50% {
            box-shadow: #2d2f4e 0px 0px 20px 15px;
        }
        75% {
            box-shadow: #2d2f4e 0px 0px 10px 7px;
        }
        100% {
            box-shadow: #2d2f4e 0px 0px 20px 15px;
        }
    }
/*download-cv-btn*/
.download-cv-btn {
    font-size:19px;
    position: fixed;
    top: 20vh;
    transform:translate(-173px,0);
    z-index: 1500;
}

    .download-cv-btn:hover {
        transform: translate(0px,0);
        animation: display-download-cv-btn 0.3s linear;
    }

    @keyframes display-download-cv-btn{
        0% {
            transform: translate(-173px,0);
        }
        50% {
            transform: translate(-86px,0);
        }
        100% {
            transform: translate(0px,0);
        }
    }

.download-cv-btn .material-icons {
    font-size:30px;
    transform: translateY(10px);
}
/*addtion*/
.text-decoration-none {
    text-decoration: none !important;
}
/*fixed views bar*/
#views {
    z-index: 1600;
    padding: 10px;
    border-radius: 10px 0px 0 10px;
    display: inline-flex;
    position: fixed;
    top: 80px;
    right: -10px;
    background-color: #080808;
    overflow: hidden;
    animation: fade-in 1.5s linear;
}
@keyframes fade-in {
    0%{
        opacity:0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

    #views h5, #views p {
        line-height: 40px;
    }

.views-num-top {
    position: absolute;
    top: -40px;
}

.views-num-bottom {
    position: absolute;
    top: 0px;
}

.views-num-extender {
    position: relative;
    top: 300px;
    z-index: -1000;
}

.views-top-to-bottom {
    transform: translate(0,0);
    animation: top-to-bottom 1s linear;
}

@keyframes top-to-bottom {
    0% {
        transform: translate(0,40px);
    }

    50% {
        transform: translate(0,20px);
    }

    100% {
        transform: translate(0,0);
    }
}

.views-bottom-to-top {
    transform: translate(0,40px);
    animation: bottom-to-top 1s linear;
}

@keyframes bottom-to-top {
    0% {
        transform: translate(0,0);
    }

    50% {
        transform: translate(0,20px);
    }

    100% {
        transform: translate(0,40px);
    }
}


/*padding top percentage*/
.pt-40vh {
    padding-top: 40vh;
}

.pt-20vh {
    padding-top: 20vh;
}

.pt-15vh {
    padding-top: 15vh;
}

.pt-v-sm-20vh {
    padding-top: 0;
}

@media(max-width:767px) {

    .pt-v-sm-20vh {
        padding-top: 20vh;
    }
}

@media(max-height:767px) {

    .pt-v-sm-20vh {
        padding-top: 20vh;
    }
}

/*font size*/
.font-88px {
    font-size: 88px !important;
}
/*text-colors*/
.text-wheat {
    color: wheat;
}
/*width*/
.w-80px {
    width: 80px !important;
}

.w-120px {
    width: 120px !important;
}

.w-200px {
    width: 200px !important;
}
.w-80px {
    width: 80px !important;
}

.w-220px {
    width: 220px !important;
}
/*nav*/
nav {
    z-index: 1000;
}

.nav-ul-absolute {
    position: absolute;
    left: 0;
    right: 0;
}

.bg-black {
    background-color: #000000 !important;
}

.nav-border-bottom {
    border-bottom: 1px solid #3b3d40 !important;
}

.navbar-nav {
    background: #000000 !important;
}

    .navbar-nav .nav-item {
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }

@media(max-width:575px) {
    .navbar-nav .nav-item {
        width: 20%;
        margin: auto;
        padding-bottom: 2px;
    }

    .navbar-nav {
        padding-bottom: 10px;
    }
}

.navbar-nav li .border-div-active {
    border-bottom: 1px solid;
    width: 80%;
    margin: auto;
}

.border-div-trigger:hover, .navbar-nav li:hover {
    font-size: 1.04rem;
    animation: fontChange 0.2s linear;
}

@keyframes fontChange {
    0% {
        font-size: 1.0rem;
    }

    50% {
        font-size: 1.02rem;
    }

    100% {
        font-size: 1.04rem;
    }
}

.border-div-trigger:hover .border-div, .navbar-nav li:hover .border-div {
    border-bottom: 1px solid;
    width: 80%;
    margin: auto;
    animation: ul-anim 0.3s linear;
}

@keyframes ul-anim {
    0% {
        width: 0%;
    }

    50% {
        width: 40%;
    }

    100% {
        width: 80%;
    }
}
/*content*/
body {
    background-color: #171819;
    color: rgba(255,255,255,.5);
}

.bg-none {
    background-color: rgba(0,0,0,0) !important;
}

#first-Page, #first-Page-10vh, #first-Page-15vh, #second-Page, #third-Page, #forth-Page, #fifth-Page, #sixth-Page {
    height: 100vh;
    position: relative;
}

@media(max-width:767px) {
    #first-Page, #first-Page-20vh, #first-Page-15vh, #second-Page, #third-Page, #forth-Page, #fifth-Page, #sixth-Page {
        height: auto;
        position: relative;
    }
}

@media(max-height:767px) {
    #first-Page, #first-Page-20vh, #first-Page-15vh, #second-Page, #third-Page, #forth-Page, #fifth-Page, #sixth-Page {
        height: auto;
        position: relative;
    }
}
/*for most of the pages*/
#first-Page {
    animation: fadeIn 0.8s linear;
    opacity: 1;
}

    #first-Page .text-huge {
        font-size: 88px;
    }

@keyframes fadeIn {
    0% {
        padding-top: 42vh;
        opacity: 0;
    }

    50% {
        padding-top: 41vh;
        opacity: 0.5;
    }

    100% {
        padding-top: 40vh;
        opacity: 1;
    }
}
/*time line*/
.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #262729;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

ul.timeline > li {
    margin-left: 3.4rem;
}

    ul.timeline > li h5 {
        color: white;
    }



#first-Page .text-huge {
    font-size: 88px;
}

#first-Page-15vh {
    padding-top: 15vh;
    animation: fadeIn-15vh 0.8s linear;
    opacity: 1;
}

@keyframes fadeIn-15vh {
    0% {
        padding-top: 17vh;
        opacity: 0;
    }

    50% {
        padding-top: 16vh;
        opacity: 0.5;
    }

    100% {
        padding-top: 15vh;
        opacity: 1;
    }
}

#first-Page-20vh {
    padding-top: 20vh;
    animation: fadeIn-20vh 0.8s linear;
    opacity: 1;
}

@keyframes fadeIn-20vh {
    0% {
        padding-top: 22vh;
        opacity: 0;
    }

    50% {
        padding-top: 21vh;
        opacity: 0.5;
    }

    100% {
        padding-top: 20vh;
        opacity: 1;
    }
}

#contact-form {
    padding-top: 20vh;
    padding-bottom: 20vh;
    animation: fadeIn2 0.8s linear;
    opacity: 1;
}

@keyframes fadeIn2 {
    0% {
        padding-top: 22vh;
        opacity: 0;
    }

    50% {
        padding-top: 21vh;
        opacity: 0.5;
    }

    100% {
        padding-top: 20vh;
        opacity: 1;
    }
}
/*projects images anima*/
.no-gutters .top-left {
    top: 0;
    height: 50%;
    width: 50%;
    left: 0;
    z-index: 1000;
}

.no-gutters .bottom-left {
    left: 0;
    bottom: 0;
    height: 50%;
    width: 50%;
    z-index: 1000;
}

.no-gutters .top-right {
    right: 0;
    top: 0;
    height: 50%;
    width: 50%;
    z-index: 1000;
}

.no-gutters .bottom-right {
    height: 50%;
    width: 50%;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

.top-left:hover ~ .card-img {
    transition: 1s ease;
    transform: perspective(300px) rotateX(-10deg) rotateY(10deg) scale3d(1,1,1);
    box-shadow: #3e4396 0px 0px 20px 15px;
}

.bottom-left:hover ~ .card-img {
    transition: 1s ease;
    transform: perspective(300px) rotateX(10deg) rotateY(10deg) scale3d(1,1,1);
    box-shadow: #3e4396 0px 0px 20px 15px;
}

.top-right:hover ~ .card-img {
    transition: 1s ease;
    transform: perspective(300px) rotateX(-10deg) rotateY(-10deg) scale3d(1,1,1);
    box-shadow: #3e4396 0px 0px 20px 15px;
}

.bottom-right:hover ~ .card-img {
    transition: 1s ease;
    transform: perspective(300px) rotateX(10deg) rotateY(-10deg) scale3d(1,1,1);
    box-shadow: #3e4396 0px 0px 20px 15px;
}

/*vertical alignment*/

@media(min-width:768px) {
    @media(min-height:768px){
        .vertical-middle {
            position: relative;
            top: 50%;
            transform: translate(0,-50%);
        }
    }
    @media(max-height:767px) {
        .vertical-middle {
            position: relative;
            top: 0%;
            transform: translate(0,0%);
        }
    }
}

@media(max-width:767px){
    .vertical-middle {
        position: relative;
        top: 0%;
        transform: translate(0,0%);
    }

}
/*vertical alignment for images on projects page*/
@media(min-width:992px) {
    .vertical-middle-img {
        position: relative;
        top: 0%;
        transform: translate(0%,0%);
    }
}

@media(max-width:767px) {
    .vertical-middle-img {
        position: relative;
        top: 0%;
        transform: translate(0%,0%);
    }
}

@media(max-width:991px) {
    @media(min-width:768px) {
        .vertical-middle-img {
            position: relative;
            top: 50%;
            transform: translate(0%,-50%);
        }
    }
}
/*  down arrow button  */
#furtherInfo {
    cursor: pointer;
    color: white !important;
    position: fixed;
    bottom: -10px;
    left: 48.5%;
    animation: next 1s linear infinite;
}

    #furtherInfo span {
        font-size: 34px;
    }
@keyframes next {
    0% {
        bottom: 15px;
    }

    25% {
        bottom: 5px;
    }

    40% {
        bottom: 8px;
    }

    60% {
        bottom: 11px;
    }

    80% {
        bottom: 14px;
    }

    100% {
        bottom: 15px;
    }
}
/*  up arrow button  */
#Top {
    margin-top: -52px;
    margin-left: 48.5%;
    cursor: pointer;
    color: white !important;
    transform: translateY(-15px);
    animation: next 1s linear infinite;
}
    #Top span {
        font-size: 34px;
    }

@keyframes next {
    0% {
        transform: translateY(-15px);
    }

    25% {
        transform: translateY(-14px);
    }

    40% {
        transform: translateY(-11px);
    }

    60% {
        transform: translateY(-8px);
    }

    80% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(-15px);
    }
}

/*toast notification*/
.toast-notification {
    z-index: 1000;
    position: fixed;
    top: -100px;
    margin-left: 20%;
    width: 60%;
    border-radius: 10px;
}

.toast-notification-show-success {
    top: 55px;
    background: cadetblue;
    animation: show-notification-success 1s linear;
}

@keyframes show-notification-success {
    0% {
        top: -100px;
        background: cadetblue;
    }

    50% {
        top: -20px;
        background: cadetblue;
    }

    100% {
        top: 60px;
        background: cadetblue;
    }
}

.toast-notification-hide-success {
    top: -100px;
    animation: hide-notification-success 1s linear;
}

@keyframes hide-notification-success {
    0% {
        top: 60px;
        background: cadetblue;
    }

    50% {
        top: -20px;
        background: cadetblue;
    }

    100% {
        top: -100px;
        background: none;
    }
}

.toast-notification-show-failed {
    top: 55px;
    background: #9c0909;
    animation: show-notification-failed 1s linear;
}

@keyframes show-notification-failed {
    0% {
        top: -100px;
        background: #9c0909;
    }

    50% {
        top: -20px;
        background: #9c0909;
    }

    100% {
        top: 60px;
        background: #9c0909;
    }
}

.toast-notification-hide-failed {
    top: -100px;
    animation: hide-notification-failed 1s linear;
}

@keyframes hide-notification-failed {
    0% {
        top: 60px;
        background: #9c0909;
    }

    50% {
        top: -20px;
        background: #9c0909;
    }

    100% {
        top: -100px;
        background: none;
    }
}


.pointer{
    cursor:pointer;
}