@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center pt-40vh" id="first-Page">
    <div class="container">
        <h3>My name is</h3>
        <h1 class="text-white text-huge">Shawn Chen</h1>
        <p class="pt-3 w-75 m-auto">
            An international student who is in the final year of a Bachelor of Information Technology at the Southern Institute of Technology in Invercargill campus. Also, i am a programmer who wants to become a full-stack in future.
        </p>
        <div class="text-center border-div-trigger w-200px m-auto pt-2">
            <a class="text-decoration-none" href="https://localhost:5001/Home/Contact">Contact with me now</a>
            <div class="border-div"></div>
        </div>
    </div>
</div>
<div class="text-center" id="second-Page">
    <div class="container vertical-middle pt-v-sm-20vh">
        <h3>I am good at</h3>
        <h1 class="text-white">Web application development</h1>
        <p class="pt-4 w-75 m-auto">
            I am familiar with popupar programming languages in both
            <strong class="text-white">front-end</strong> and
            <strong class="text-white">back-end</strong>
            to support creating web applications.
            Also, i am really <strong class="text-white">welling</strong> to
            <strong class="text-white">learn</strong>
            new techniques that could be useful and helpful for web application development.
        </p>
    </div>
</div>
<div class="text-center" id="third-Page">
    <div class="container vertical-middle pt-v-sm-20vh">
        <h1 class="pb-5 text-white">More About Me</h1>
        <div class="row pt-5">
            <div class="col-sm-10 offset-sm-1 offset-md-0 col-md-4 mb-4">
                <div class="card bg-none">
                    <span class="material-icons card-img-top pt-4 font-88px text-wheat">face</span>
                    <div class="card-body">
                        <h5 class="card-title text-white">About Me</h5>
                        <p class="card-text">To get a better understanding of what kind of personality i am, and achievement i've got so far.</p>
                        <div class="text-center border-div-trigger w-80px m-auto">
                            <a class="text-decoration-none" asp-action="AboutMe" asp-controller="Home">See more</a>
                            <div class="border-div"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 offset-sm-1 offset-md-0 col-md-4 mb-4">
                <div class="card bg-none">
                    <span class="material-icons card-img-top pt-4 font-88px text-wheat">description</span>
                    <div class="card-body">
                        <h5 class="card-title text-white">Resume</h5>
                        <p class="card-text">To get general ideas of programming languages i've learnt from either campus or internet so far.</p>
                        <div class="text-center border-div-trigger w-80px m-auto">
                            <a class="text-decoration-none" asp-action="Resume" asp-controller="Home">See more</a>
                            <div class="border-div"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 offset-sm-1 offset-md-0 col-md-4 mb-4">
                <div class="card bg-none">
                    <span class="material-icons card-img-top pt-4 font-88px text-wheat">file_copy</span>
                    <div class="card-body">
                        <h5 class="card-title text-white">Portfolio</h5>
                        <p class="card-text">To understand where my skills at via projects i have done, by diagrams, source codes or a link to a live system.</p>
                        <div class="text-center border-div-trigger w-80px m-auto">
                            <a class="text-decoration-none" asp-action="Portfolio" asp-controller="Home">See more</a>
                            <div class="border-div"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<span class="material-icons" id="Top">
    arrow_upward
</span>
<span class="material-icons" id="furtherInfo">
    arrow_downward
</span>
<div id="hintBox" class="container-fluid pt-3 pb-3">
    <p class="text-left m-auto">This website has been open sourced on Github, and the use rights are owned by the author only (Shawn Chen). The purpose of the website is only for showing the personal skills, not for commercial use. If necessary, please contact me in time.</p>
    <button id="understand" class="btn btn-primary m-auto">Understood</button>
</div>
<script>
    $('#understand').on('click', function () {
        $('#hintBox').css('display', 'none');
    });

    $(window).scroll(function () {
        var current = $(document).scrollTop();
        var firstP = $('#first-Page').offset().top;
        var secondP = $('#second-Page').offset().top;

        if (!ToDisableNavigationArrows()) {
            if (current <= (firstP + 10)) {
                $('#furtherInfo').css({ display: 'block' });
            }
            else if (current > (secondP - 40) && current <= secondP + 100) {
                $('#furtherInfo').css({ display: 'block' });

            }
            else {
                $('#furtherInfo').css({ display: 'none' });
            }
        }
    });

    $('#furtherInfo').click(function () {
        var current = $(document).scrollTop();
        var firstP = $('#first-Page').offset().top;
        var secondP = $('#second-Page').offset().top;

        if (current <= (firstP + 10)) {
            $("html, body").animate({ scrollTop: secondP + 100 }, 1000);
            $("html, body").animate({ scrollTop: secondP - 60 }, 500);
            $("html, body").animate({ scrollTop: secondP + 20 }, 400);
            $("html, body").animate({ scrollTop: secondP }, 300);
        }
        else if (current > (secondP - 40) && current <= secondP + 100) {
            $("html, body").animate({ scrollTop: $('#third-Page').offset().top + 100 }, 500);
        }
    });</script>
