@{
    ViewData["Title"] = "AboutMe";
}
<div class="text-center pt-40vh" id="first-Page">
    <div class="container">
        <h5>While 2 years study, i have done a lot of</h5>
        <h1 class="text-white">Projects</h1>
        <p>which includes the range from web application development, cloud hosting & deployement solution, database development and Android development. Mostly, i played as a programer within a team to deliver a quality application to meet the requirement from either subject or client.</p>
        <div class="text-center border-div-trigger w-200px m-auto pt-2">
            <a class="text-decoration-none" href="https://localhost:5001/Home/Contact">Contact with me now</a>
            <div class="border-div"></div>
        </div>
    </div>
</div>
<div class="text-center" id="second-Page">
    <div class="container vertical-middle pt-v-sm-20vh">
        <h1 class="text-white pb-3">Web development</h1>
        <div class="row row-cols-1 row-cols-md-1 pt-5">
            <div class="card mb-5 bg-none">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/images/FXV.png" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-white">FXV fitness management system</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-5 bg-none">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/images/null.png" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-white">My Portfolio</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center" id="third-Page">
    <div class="container vertical-middle pt-v-sm-20vh">
        <h1 class="text-white pb-3">Cloud Hosting & Deployement</h1>
        <div class="row row-cols-1 row-cols-md-1 pt-5">
            <div class="card mb-5 bg-none">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/images/trademe.png" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-white">Cloud hosting solution for TradeMe</h5>
                            <p class="card-text">Provide the solution for TradeMe based on the scenario given by Tutor.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-5 bg-none">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/images/FXV.png" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-white">Cloud deployment for FXV</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center" id="forth-Page">
    <div class="container vertical-middle pt-v-sm-20vh">
        <h1 class="text-white pb-5">Database</h1>
        <div class="row row-cols-1 row-cols-md-1 pt-5">
            <div class="card mb-5 bg-none">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/images/FXV.png" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-white">Database for FXV fitness management system</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-5 bg-none">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/images/null.png" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-white">Database for Car rental system</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center" id="fifth-Page">
    <div class="container vertical-middle pt-v-sm-20vh">
        <h1 class="text-white pb-5">Android Development</h1>
        <div class="row row-cols-1 row-cols-md-1 pt-5">
            <div class="card mb-5 bg-none">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/images/null.png" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-white">Mobile application</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<span class="material-icons" id="Top">
    arrow_upward
</span>
<span class="material-icons" id="furtherInfo">
    arrow_downward
</span>
<script>$(window).scroll(function () {
        var current = $(document).scrollTop();
        var firstP = $('#first-Page').offset().top;
        var secondP = $('#second-Page').offset().top;
        var thirdP = $('#third-Page').offset().top;
        var forthP = $('#forth-Page').offset().top;

        if (!ToDisableNavigationArrows()) {
            if (current <= (firstP + 10)) {
                $('#furtherInfo').css({ display: 'block' });
            }
            else if (current > (secondP - 40) && current <= secondP + 100) {
                $('#furtherInfo').css({ display: 'block' });
            }
            else if (current > (thirdP - 40) && current <= thirdP + 100) {
                $('#furtherInfo').css({ display: 'block' });
            }
            else if (current > (forthP - 40) && current <= forthP + 100) {
                $('#furtherInfo').css({ display: 'block' });
            }
            else {
                $('#furtherInfo').css({ display: 'none' });
            }
        }
    });

    $('#furtherInfo').click(function () {
        var current = $(document).scrollTop();
        var firstP = $('#first-Page').offset().top;
        var secondP = $('#second-Page').offset().top;
        var thirdP = $('#third-Page').offset().top;
        var forthP = $('#forth-Page').offset().top;
        var fifthP = $('#fifth-Page').offset().top;

        if (current <= (firstP + 10)) {
            $("html, body").animate({ scrollTop: secondP + 100 }, 1000);
            $("html, body").animate({ scrollTop: secondP - 60 }, 500);
            $("html, body").animate({ scrollTop: secondP + 20 }, 400);
            $("html, body").animate({ scrollTop: secondP }, 300);
        }
        else if (current > (secondP - 40) && current <= secondP + 100) {
            $("html, body").animate({ scrollTop: thirdP + 100 }, 1000);
            $("html, body").animate({ scrollTop: thirdP - 60 }, 500);
            $("html, body").animate({ scrollTop: thirdP + 20 }, 400);
            $("html, body").animate({ scrollTop: thirdP }, 300);
        }
        else if (current > (thirdP - 40) && current <= thirdP + 100) {
            $("html, body").animate({ scrollTop: forthP + 100 }, 1000);
            $("html, body").animate({ scrollTop: forthP - 60 }, 500);
            $("html, body").animate({ scrollTop: forthP + 20 }, 400);
            $("html, body").animate({ scrollTop: forthP }, 300);
        }
        else if (current > (forthP - 40) && current <= forthP + 100) {
            $("html, body").animate({ scrollTop: fifthP + 100 }, 500);
        }
    });</script>