@{
    ViewData["Title"] = "Projects";
}
<style>

</style>
<div class="text-center pt-40vh" id="first-Page">
    <div class="container">
        <h5>With 2 years+ study, i have done some</h5>
        <h1 class="text-white">Projects</h1>
        <p>including <strong class="text-white">web application development</strong>, <strong class="text-white">cloud hosting & deployement solution</strong>, <strong class="text-white">database development</strong> and <strong class="text-white">Android development</strong>. Mostly, I have been a <strong class="text-white">system designer</strong> and <strong class="text-white">programer</strong> within a team to deliver a quality application to meet the requirement for course projects or real clients. Apart of the skills I have learned from my course, also, I have done a lot of <strong class="text-white">self-researches</strong> in terms of web application development, web security and cloud computing deployement as I really want to be a full-stack developer in the future.</p>
        <div class="text-center border-div-trigger w-80px m-auto pt-2">
            <a class="text-decoration-none" asp-controller="Home" asp-action="Contact">Email Me</a>
            <div class="border-div"></div>
        </div>
    </div>
</div>
<div class="text-center ml-5 mr-5" id="second-Page">
    <div class="container vertical-middle pt-v-sm-20vh">
        <h1 class="text-white pb-3">Web development</h1>
        <div class="row row-cols-1 row-cols-md-1 pt-5">
            <div class="card mb-5 bg-none">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <div class="vertical-middle" style="height: fit-content;">
                            <span class="position-absolute top-left"></span>
                            <span class="position-absolute top-right"></span>
                            <span class="position-absolute bottom-left"></span>
                            <span class="position-absolute bottom-right"></span>
                            <img src="/images/FXV_thumb.png" class="card-img" alt="...">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-white">FXV fitness management system</h5>
                            <p class="card-text text-left">
                                This web application is used in field of human performance management for the fitness, training, coaching, and corporate industries. The application is developed based on <strong class="text-white">ASP.Net Core MVC framework</strong>,
                                and requires deep research in field of Web security (like CSRF and CORS), extension usage of frameworks/packages, data analysis and visualization, etc.
                                Being the <strong class="text-white">leader of development team</strong>, I am responsible for task analysis and assigning tasks to other developers, while I am developing the front-end, back-end and database.
                            </p>
                            <div class="text-center border-div-trigger w-120px m-auto">
                                <a class="text-decoration-none" target="_blank" href="https://www.fxv.co.nz">Go to System</a>
                                <div class="border-div"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-5 bg-none">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <div class="vertical-middle" style="height: fit-content;">
                            <span class="position-absolute top-left"></span>
                            <span class="position-absolute top-right"></span>
                            <span class="position-absolute bottom-left"></span>
                            <span class="position-absolute bottom-right"></span>
                            <img src="/images/Portfolio_thumb.png" class="card-img" alt="...">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-white">My Portfolio</h5>
                            <p class="card-text text-left">
                                This is my portfolio website written in
                                C# based on Asp.net Core MVC framework. The purpose is to show my personal information and skills. The source code has been open sourced on GitHub.
                            </p>
                            <div class="text-center border-div-trigger w-120px m-auto">
                                <a class="text-decoration-none" target="_blank" href="https://github.com/ShawnChenOfficial/Shawn-s-Portfolio">Go to GitHub</a>
                                <div class="border-div"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center ml-5 mr-5" id="third-Page">
    <div class="container vertical-middle pt-v-sm-20vh">
        <h1 class="text-white pb-3">Cloud Hosting & Deployement</h1>
        <div class="row row-cols-1 row-cols-md-1 pt-5">
            <div class="card mb-5 bg-none">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <div class="vertical-middle" style="height: fit-content;">
                            <span class="position-absolute top-left"></span>
                            <span class="position-absolute top-right"></span>
                            <span class="position-absolute bottom-left"></span>
                            <span class="position-absolute bottom-right"></span>
                            <img src="/images/cloud-computing.png" class="card-img" alt="...">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-white">Cloud hosting solution</h5>
                            <p class="card-text text-left">
                                As a system designer,
                                I provided high quality and cost effectively solutions which are based on 3 scenarios given by the Tutor.
                                Each scenario represents different business scale of the client with different requirements which are required different cloud computing solution from <strong class="text-white">IaaS,</strong> <strong class="text-white">LaaS</strong> to <strong class="text-white">k8s(Kubernetes)</strong>.
                            </p>
                            <div class="text-center border-div-trigger w-120px m-auto">
                                <a class="text-decoration-none" target="_blank" href="https://github.com/ShawnChenOfficial/Cloud-Hosting-Solution-for-TradeMe">Go to GitHub</a>
                                <div class="border-div"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center ml-5 mr-5" id="forth-Page">
    <div class="container vertical-middle pt-v-sm-20vh">
        <h1 class="text-white pb-5">Database</h1>
        <div class="row row-cols-1 row-cols-md-1 pt-5">
            <div class="card mb-5 bg-none">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <div class="vertical-middle" style="height: fit-content;">
                            <span class="position-absolute top-left"></span>
                            <span class="position-absolute top-right"></span>
                            <span class="position-absolute bottom-left"></span>
                            <span class="position-absolute bottom-right"></span>
                            <img src="/images/CarRental_thumb.png" class="card-img" alt="...">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-white">Database for Car Rental System</h5>
                            <p class="card-text text-left">A database project designed when I was in my 2nd year of my course study. It was aimed to meet the requirements of a car rental company to manage their daily businesses.</p>
                            <div class="text-center border-div-trigger w-120px m-auto">
                                <a class="text-decoration-none" target="_blank" href="https://github.com/ShawnChenOfficial/Database-for-Car-Rental-System">Go to GitHub</a>
                                <div class="border-div"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center ml-5 mr-5" id="fifth-Page">
    <div class="container vertical-middle pt-v-sm-20vh">
        <h1 class="text-white pb-5">Android Development</h1>
        <div class="row row-cols-1 row-cols-md-1 pt-5">
            <div class="card mb-5 bg-none">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <div class="vertical-middle" style="height: fit-content;">
                            <span class="position-absolute top-left"></span>
                            <span class="position-absolute top-right"></span>
                            <span class="position-absolute bottom-left"></span>
                            <span class="position-absolute bottom-right"></span>
                            <img src="/images/kiwiLearn_thumb.png" class="card-img" alt="...">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-white">Mobile application</h5>
                            <p class="card-text text-left">This is an Android application project I created while I was studying in my 2nd year of BIT. This mobile application was designed to provide a platform for those people who run private classes to teach people, or people who wants to find a private class to learn something. Authorized teachers can post their classes information on this platform, and everyone can view the class information based on the categories. As it was a group project, I was the system designer and developer to implement this system.</p>
                            <div class="text-center border-div-trigger w-120px m-auto">
                                <a class="text-decoration-none" target="_blank" href="https://github.com/ShawnChenOfficial/Kiwi-Learn">Go to GitHub</a>
                                <div class="border-div"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>