@{
    ViewData["Title"] = "AboutMe";
}
<div class="text-center pt-40vh" id="first-Page">
    <div class="container">
        <h5>While 2 years+ study, i have done some</h5>
        <h1 class="text-white">Projects</h1>
        <p>Including web application development, cloud hosting & deployement solution, database development and Android development. Mostly, i played as a system designer and a programer within a team to deliver a quality application to meet the requirement for either course papers or clients.</p>
        <div class="text-center border-div-trigger w-200px m-auto pt-2">
            <a class="text-decoration-none" asp-controller="Home" asp-action="Contact">Contact with me now</a>
            <div class="border-div"></div>
        </div>
    </div>
</div>
<div class="text-center" id="second-Page">
    <div class="container vertical-middle pt-v-sm-20vh">
        <h1 class="text-white pb-3">Web development</h1>
        <div class="row row-cols-1 row-cols-md-1 pt-5">
            <div class="card mb-5 bg-none">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/images/FXV_thumb.png" class="card-img vertical-middle" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-white">FXV fitness management system</h5>
                            <p class="card-text">A web application used to provide a better solution to manage athlete testing data, and organizations' & teams' memberships. This web application designed to be used in field of human performance management for the fitness, training, coaching, and corporate industries. The application is still a beta version which keeps updating. As this is a group project, I'm the dev team leader to assign tasks to other developers and also in charge of front-end, back-end and database development.</p>
                            <div class="text-center border-div-trigger w-120px m-auto">
                                <a class="text-decoration-none" target="_blank" href="https://www.fxv.co.nz">Go to System</a>
                                <div class="border-div"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-5 bg-none">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/images/PortfolioScreenShot_thumb.png" class="card-img vertical-middle" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-white">My Portfolio</h5>
                            <p class="card-text">
                                My portfolio website written in
                                C# based on Asp.net Core MVC framework. The purpose is to show the personal information and skills. The source code has been open sourced on GitHub.
                            </p>
                            <div class="text-center border-div-trigger w-120px m-auto">
                                <a class="text-decoration-none" target="_blank" href="https://github.com/ShawnChenOfficial/Shawn-s-Portfolio">Go to GitHub</a>
                                <div class="border-div"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center" id="third-Page">
    <div class="container vertical-middle pt-v-sm-20vh">
        <h1 class="text-white pb-3">Cloud Hosting & Deployement</h1>
        <div class="row row-cols-1 row-cols-md-1 pt-5">
            <div class="card mb-5 bg-none">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/images/trademe_thumb.png" class="card-img vertical-middle" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-white">Cloud hosting solution for TradeMe</h5>
                            <p class="card-text">As a system designer, the quality and cost effectively solutions provided for TradeMe based on 3 scenarios given by Tutor. Each scenario represents different business scale of TradeMe with different requirements.</p>
                            <div class="text-center border-div-trigger w-120px m-auto">
                                <a class="text-decoration-none" target="_blank" href="https://github.com/ShawnChenOfficial/Cloud-Hosting-Solution-for-TradeMe">Go to GitHub</a>
                                <div class="border-div"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center" id="forth-Page">
    <div class="container vertical-middle pt-v-sm-20vh">
        <h1 class="text-white pb-5">Database</h1>
        <div class="row row-cols-1 row-cols-md-1 pt-5">
            <div class="card mb-5 bg-none">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/images/FXV_thumb.png" class="card-img vertical-middle" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-white">Database for FXV fitness management system</h5>
                            <p class="card-text">A complex relational database designed to work with the FXV web application. As the project was decide to be Code first, so every entity and attribute were built by using the features of Entity framework and migration command.</p>
                            <div class="text-center border-div-trigger w-120px m-auto">
                                <a class="text-decoration-none" target="_blank" href="">Go to GitHub</a>
                                <div class="border-div"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-5 bg-none">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/images/CarRental_thumb.png" class="card-img vertical-middle" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-white">Database for Car Rental System</h5>
                            <p class="card-text">A database project designed while the I was studying in 2nd year of BIT. A database solution provided to meet the requirements of a car rental company. This could help to a better management for their daily businesses.</p>
                            <div class="text-center border-div-trigger w-120px m-auto">
                                <a class="text-decoration-none" target="_blank" href="https://github.com/ShawnChenOfficial/Database-for-Car-Rental-System">Go to GitHub</a>
                                <div class="border-div"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center" id="fifth-Page">
    <div class="container vertical-middle pt-v-sm-20vh">
        <h1 class="text-white pb-5">Android Development</h1>
        <div class="row row-cols-1 row-cols-md-1 pt-5">
            <div class="card mb-5 bg-none">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/images/kiwiLearn_thumb.png" class="card-img vertical-middle" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-white">Mobile application</h5>
                            <p class="card-text">This is a Android application project while I was studying in 2nd year of BIT. This mobile application was designed to provide a platform for those people who run private classes to teach people, or people who wants to find a private class to learn something. Authorized teacher could post their class information on this platform, and everyone could look all the classes information based on categories. As it was a group project, I played as the system designer and only programmer to implement the entire system.</p>
                            <div class="text-center border-div-trigger w-120px m-auto">
                                <a class="text-decoration-none" target="_blank" href="https://github.com/ShawnChenOfficial/Kiwi-Learn">Go to GitHub</a>
                                <div class="border-div"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<span class="material-icons" id="Top">
    arrow_upward
</span>
<span class="material-icons" id="furtherInfo">
    arrow_downward
</span>
<script>$(window).scroll(function () {
        var current = $(document).scrollTop();
        var firstP = $('#first-Page').offset().top;
        var secondP = $('#second-Page').offset().top;
        var thirdP = $('#third-Page').offset().top;
        var forthP = $('#forth-Page').offset().top;

        if (!ToDisableNavigationArrows()) {
            if (current <= (firstP + 10)) {
                $('#furtherInfo').css({ display: 'block' });
            }
            else if (current > (secondP - 40) && current <= secondP + 100) {
                $('#furtherInfo').css({ display: 'block' });
            }
            else if (current > (thirdP - 40) && current <= thirdP + 100) {
                $('#furtherInfo').css({ display: 'block' });
            }
            else if (current > (forthP - 40) && current <= forthP + 100) {
                $('#furtherInfo').css({ display: 'block' });
            }
            else {
                $('#furtherInfo').css({ display: 'none' });
            }
        }
    });

    $('#furtherInfo').click(function () {
        var current = $(document).scrollTop();
        var firstP = $('#first-Page').offset().top;
        var secondP = $('#second-Page').offset().top;
        var thirdP = $('#third-Page').offset().top;
        var forthP = $('#forth-Page').offset().top;
        var fifthP = $('#fifth-Page').offset().top;

        if (current <= (firstP + 10)) {
            $("html, body").animate({ scrollTop: secondP + 100 }, 1000);
            $("html, body").animate({ scrollTop: secondP - 60 }, 500);
            $("html, body").animate({ scrollTop: secondP + 20 }, 400);
            $("html, body").animate({ scrollTop: secondP }, 300);
        }
        else if (current > (secondP - 40) && current <= secondP + 100) {
            $("html, body").animate({ scrollTop: thirdP + 100 }, 1000);
            $("html, body").animate({ scrollTop: thirdP - 60 }, 500);
            $("html, body").animate({ scrollTop: thirdP + 20 }, 400);
            $("html, body").animate({ scrollTop: thirdP }, 300);
        }
        else if (current > (thirdP - 40) && current <= thirdP + 100) {
            $("html, body").animate({ scrollTop: forthP + 100 }, 1000);
            $("html, body").animate({ scrollTop: forthP - 60 }, 500);
            $("html, body").animate({ scrollTop: forthP + 20 }, 400);
            $("html, body").animate({ scrollTop: forthP }, 300);
        }
        else if (current > (forthP - 40) && current <= forthP + 100) {
            $("html, body").animate({ scrollTop: fifthP + 100 }, 500);
        }
    });</script>